In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/player_stat.csv", 
                 sep=",")
df.head(2)

,Index,Year,Player,Pos,Tm,G,MP,TOVP,USGP,FG,...,ThreeP,ThreePA,TwoP,TwoPA,FT,FTA,AST,STL,TOV,PTS
0,0.0,1950.0,Curly Armstrong,G-F,FTW,63.0,NaN,NaN,NaN,144.0,...,NaN,NaN,144.0,516.0,170.0,241.0,176.0,NaN,NaN,458.0
1,1.0,1950.0,Cliff Barker,SG,INO,49.0,NaN,NaN,NaN,102.0,...,NaN,NaN,102.0,274.0,75.0,106.0,109.0,NaN,NaN,279.0

In [3]:
df = df.dropna(subset=["Year"])

In [4]:
df = df.astype({"Year":int})

In [5]:
df

,Index,Year,Player,Pos,Tm,G,MP,TOVP,USGP,FG,...,ThreeP,ThreePA,TwoP,TwoPA,FT,FTA,AST,STL,TOV,PTS
0,0.0,1950,Curly Armstrong,G-F,FTW,63.0,NaN,NaN,NaN,144.0,...,NaN,NaN,144.0,516.0,170.0,241.0,176.0,NaN,NaN,458.0
1,1.0,1950,Cliff Barker,SG,INO,49.0,NaN,NaN,NaN,102.0,...,NaN,NaN,102.0,274.0,75.0,106.0,109.0,NaN,NaN,279.0
2,2.0,1950,Leo Barnhorst,SF,CHS,67.0,NaN,NaN,NaN,174.0,...,NaN,NaN,174.0,499.0,90.0,129.0,140.0,NaN,NaN,438.0
3,3.0,1950,Ed Bartels,F,TOT,15.0,NaN,NaN,NaN,22.0,...,NaN,NaN,22.0,86.0,19.0,34.0,20.0,NaN,NaN,63.0
4,4.0,1950,Ed Bartels,F,DNN,13.0,NaN,NaN,NaN,21.0,...,NaN,NaN,21.0,82.0,17.0,31.0,20.0,NaN,NaN,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686.0,2017,Cody Zeller,PF,CHO,62.0,1725.0,10.9,15.5,253.0,...,0.0,1.0,253.0,442.0,133.0,196.0,99.0,62.0,65.0,639.0
24687,24687.0,2017,Tyler Zeller,C,BOS,51.0,525.0,10.2,16.5,78.0,...,0.0,1.0,78.0,157.0,22.0,39.0,42.0,7.0,20.0,178.0
24688,24688.0,2017,Stephen Zimmerman,C,ORL,19.0,108.0,8.3,14.8,10.0,...,0.0,0.0,10.0,31.0,3.0,5.0,4.0,2.0,3.0,23.0
24689,24689.0,2017,Paul Zipser,SF,CHI,44.0,843.0,14.4,14.4,88.0,...,33.0,99.0,55.0,122.0,31.0,40.0,36.0,15.0,40.0,240.0
24690,24690.0,2017,Ivica Zubac,C,LAL,38.0,609.0,10.4,20.3,126.0,...,0.0,3.0,126.0,235.0,32.0,49.0,30.0,14.0,30.0,284.0

In [6]:
index = df["Index"]
year = df["Year"]

In [7]:
df= df.fillna(0)
df["Index"] = index
df["Year"] = year
df

,Index,Year,Player,Pos,Tm,G,MP,TOVP,USGP,FG,...,ThreeP,ThreePA,TwoP,TwoPA,FT,FTA,AST,STL,TOV,PTS
0,0.0,1950,Curly Armstrong,G-F,FTW,63.0,0.0,0.0,0.0,144.0,...,0.0,0.0,144.0,516.0,170.0,241.0,176.0,0.0,0.0,458.0
1,1.0,1950,Cliff Barker,SG,INO,49.0,0.0,0.0,0.0,102.0,...,0.0,0.0,102.0,274.0,75.0,106.0,109.0,0.0,0.0,279.0
2,2.0,1950,Leo Barnhorst,SF,CHS,67.0,0.0,0.0,0.0,174.0,...,0.0,0.0,174.0,499.0,90.0,129.0,140.0,0.0,0.0,438.0
3,3.0,1950,Ed Bartels,F,TOT,15.0,0.0,0.0,0.0,22.0,...,0.0,0.0,22.0,86.0,19.0,34.0,20.0,0.0,0.0,63.0
4,4.0,1950,Ed Bartels,F,DNN,13.0,0.0,0.0,0.0,21.0,...,0.0,0.0,21.0,82.0,17.0,31.0,20.0,0.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686.0,2017,Cody Zeller,PF,CHO,62.0,1725.0,10.9,15.5,253.0,...,0.0,1.0,253.0,442.0,133.0,196.0,99.0,62.0,65.0,639.0
24687,24687.0,2017,Tyler Zeller,C,BOS,51.0,525.0,10.2,16.5,78.0,...,0.0,1.0,78.0,157.0,22.0,39.0,42.0,7.0,20.0,178.0
24688,24688.0,2017,Stephen Zimmerman,C,ORL,19.0,108.0,8.3,14.8,10.0,...,0.0,0.0,10.0,31.0,3.0,5.0,4.0,2.0,3.0,23.0
24689,24689.0,2017,Paul Zipser,SF,CHI,44.0,843.0,14.4,14.4,88.0,...,33.0,99.0,55.0,122.0,31.0,40.0,36.0,15.0,40.0,240.0
24690,24690.0,2017,Ivica Zubac,C,LAL,38.0,609.0,10.4,20.3,126.0,...,0.0,3.0,126.0,235.0,32.0,49.0,30.0,14.0,30.0,284.0

In [8]:
df_a = df

In [9]:
df = pd.read_csv("./data/player_info.csv", 
                 sep=",",
                dtype={"Year_Start":int,
                      "Year_End":int,
                      "Age_Start":int})

In [10]:
df

                     Name  Year_Start  Year_End  Age_Start  Height  Weight
0          Alaa Abdelnaby        1991      1995         18     208   108.0
1         Zaid Abdul-Aziz        1969      1978         14     205   106.0
2     Kareem Abdul-Jabbar        1970      1989         17     218   102.0
3      Mahmoud Abdul-Rauf        1991      2001         17     185    73.0
4       Tariq Abdul-Wahad        1998      2003         24     198   101.0
...                   ...         ...       ...        ...     ...     ...
4495           Ante Zizic        2018      2018         13     210   113.0
4496             Jim Zoet        1983      1983         15     216   108.0
4497            Bill Zopf        1971      1971         11     185    77.0
4498          Ivica Zubac        2017      2018         15     216   120.0
4499           Matt Zunic        1949      1949         17     190    88.0

[4500 rows x 6 columns]

In [11]:
df_b = df.dropna()

In [31]:
targetPlayer = df_b.loc[(df_b["Year_Start"]) >= 1980 &
                        (df_b["Year_End"] - df_b["Year_Start"] + 1 >= 3)]
targetPlayer

                     Name  Year_Start  Year_End  Age_Start  Height  Weight
0          Alaa Abdelnaby        1991      1995         18     208   108.0
1         Zaid Abdul-Aziz        1969      1978         14     205   106.0
2     Kareem Abdul-Jabbar        1970      1989         17     218   102.0
3      Mahmoud Abdul-Rauf        1991      2001         17     185    73.0
4       Tariq Abdul-Wahad        1998      2003         24     198   101.0
...                   ...         ...       ...        ...     ...     ...
4495           Ante Zizic        2018      2018         13     210   113.0
4496             Jim Zoet        1983      1983         15     216   108.0
4497            Bill Zopf        1971      1971         11     185    77.0
4498          Ivica Zubac        2017      2018         15     216   120.0
4499           Matt Zunic        1949      1949         17     190    88.0

[4494 rows x 6 columns]

In [33]:
df = df_a.merge(targetPlayer, left_on = "Player", right_on="Name")
df

,Index,Year,Player,Pos,Tm,G,MP,TOVP,USGP,FG,...,AST,STL,TOV,PTS,Name,Year_Start,Year_End,Age_Start,Height,Weight
0,0.0,1950,Curly Armstrong,G-F,FTW,63.0,0.0,0.0,0.0,144.0,...,176.0,0.0,0.0,458.0,Curly Armstrong,1949,1951,16,180,77.0
1,314.0,1951,Curly Armstrong,G-F,FTW,38.0,0.0,0.0,0.0,72.0,...,77.0,0.0,0.0,202.0,Curly Armstrong,1949,1951,16,180,77.0
2,1.0,1950,Cliff Barker,SG,INO,49.0,0.0,0.0,0.0,102.0,...,109.0,0.0,0.0,279.0,Cliff Barker,1950,1952,19,188,83.0
3,315.0,1951,Cliff Barker,SG,INO,56.0,0.0,0.0,0.0,51.0,...,115.0,0.0,0.0,152.0,Cliff Barker,1950,1952,19,188,83.0
4,489.0,1952,Cliff Barker,SG,INO,44.0,494.0,0.0,0.0,48.0,...,70.0,0.0,0.0,126.0,Cliff Barker,1950,1952,19,188,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22852,24674.0,2017,Troy Williams,SF,HOU,6.0,139.0,11.3,16.2,22.0,...,6.0,3.0,6.0,58.0,Troy Williams,2017,2018,19,200,98.0
22853,24675.0,2017,Kyle Wiltjer,PF,HOU,14.0,44.0,25.2,19.1,4.0,...,2.0,3.0,5.0,13.0,Kyle Wiltjer,2017,2017,15,208,108.0
22854,24688.0,2017,Stephen Zimmerman,C,ORL,19.0,108.0,8.3,14.8,10.0,...,4.0,2.0,3.0,23.0,Stephen Zimmerman,2017,2017,24,213,108.0
22855,24689.0,2017,Paul Zipser,SF,CHI,44.0,843.0,14.4,14.4,88.0,...,36.0,15.0,40.0,240.0,Paul Zipser,2017,2018,20,203,97.0
22856,24690.0,2017,Ivica Zubac,C,LAL,38.0,609.0,10.4,20.3,126.0,...,30.0,14.0,30.0,284.0,Ivica Zubac,2017,2018,15,216,120.0

In [39]:
df = df.drop(columns="Player", axis=1)
df

KeyError: "['Player'] not found in axis"

In [41]:
df["Age"] = df["Year"] - df["Year_Start"] + df["Age_Start"]

In [42]:
df.head(2)

,Index,Year,Pos,Tm,G,MP,TOVP,USGP,FG,FGA,...,STL,TOV,PTS,Name,Year_Start,Year_End,Age_Start,Height,Weight,Age
0,0.0,1950,G-F,FTW,63.0,0.0,0.0,0.0,144.0,516.0,...,0.0,0.0,458.0,Curly Armstrong,1949,1951,16,180,77.0,17
1,314.0,1951,G-F,FTW,38.0,0.0,0.0,0.0,72.0,232.0,...,0.0,0.0,202.0,Curly Armstrong,1949,1951,16,180,77.0,18

In [80]:
df["Main_Pos"] = df["Pos"].apply(lambda x:x[0:x.find("-")])

SyntaxError: invalid syntax (Temp/ipykernel_4168/674931842.py, line 1)

'G-F'