In [130]:
import pandas as pd
import numpy as np

In [131]:
df_baseball = pd.read_csv("./data/baseball.csv")
df_2015 = df_baseball[df_baseball["yearID"] == 2015].reset_index(drop=True)
df_2016 = df_baseball[df_baseball["yearID"] == 2016].reset_index(drop=True)
list=[]
for i in range(df_2016.shape[0]):
    player = df_2015[df_2015["playerID"]==df_2016["playerID"][i]].reset_index(drop=True)
    if player["teamID"].shape[0]>0 and df_2016["teamID"][i] != player["teamID"][0]:
        list.append(df_2016["playerID"][i])
list

['abadfe01',
 'achteaj01',
 'ackledu01',
 'alberan01',
 'albural01',
 'alcanar01',
 'almonab01',
 'alonsyo01',
 'alvarda01',
 'alvarpe01',
 'anderch01',
 'aokino01',
 'arojo01',
 'avilaal01',
 'avilalu01',
 'avilemi01',
 'axforjo01',
 'aybarer01',
 'bailean01',
 'barneda01',
 'bastaan01',
 'beckhgo01',
 'belisma01',
 'benoijo01',
 'bethach01',
 'blantjo01',
 'bonifem01',
 'bourjpe01',
 'bournmi01',
 'boydma01',
 'boyerbl01',
 'breslcr01',
 'brignre01',
 'broxtjo01',
 'broxtke01',
 'buchaja01',
 'burriem01',
 'buterdr01',
 'byrdma01',
 'cabreas01',
 'cahiltr01',
 'capuach01',
 'carmofa01',
 'cartech02',
 'castiwe01',
 'castrmi01',
 'castrst01',
 'cecilda01',
 'cedenxa01',
 'centeju01',
 'cespeyo01',
 'chacijh01',
 'chambjo03',
 'chapmar01',
 'chaveje01',
 'chenwe02',
 'cishest01',
 'clevest01',
 'clippty01',
 'coghlch01',
 'cokeph01',
 'colemlo01',
 'congeha01',
 'cothaca01',
 'couloda01',
 'cowgico01',
 'cruzto03',
 'cuetojo01',
 'cunnito01',
 'darnach01',
 'davisik02',
 'daviskh01',
 'davisra01',
 'deazaal01',
 'deckeja01',
 'delabst01',
 'delosab01',
 'desmoia01',
 'despaod01',
 'detwiro01',
 'dickeco01',
 'diekmja01',
 'dominjo01',
 'drabeky01',
 'drewst01',
 'duensbr01',
 'dysonsa01',
 'eliasro01',
 'elmorja01',
 'escobyu01',
 'evelada01',
 'farquda01',
 'feathta01',
 'felizne01',
 'fiersmi01',
 'figueco01',
 'finnebr01',
 'fistedo01',
 'florera02',
 'flowety01',
 'floydga01',
 'francje02',
 'frazito01',
 'freemsa01',
 'freesda01',
 'friedch01',
 'fryerer01',
 'gallayo01',
 'geedi01',
 'gentrcr01',
 'germego01',
 'gileske01',
 'gillaco01',
 'gimench01',
 'gomezca01',
 'gonzami03',
 'gorzeto01',
 'gosseph01',
 'gotttr01',
 'greengr01',
 'greinza01',
 'grossro01',
 'guerrde01',
 'guerrja01',
 'guerrju02',
 'gyorkje01',
 'hallco01',
 'hamelco01',
 'handbr01',
 'happja01',
 'heisech01',
 'hellije01',
 'hendrli01',
 'hernada01',
 'hernago01',
 'herrmch01',
 'heywaja01',
 'hicksaa01',
 'hicksjo02',
 'hillaa01',
 'hillri01',
 'hinojda01',
 'holadbr01',
 'holtty01',
 'huffda01',
 'hunteto02',
 'iannech01',
 'inciaen01',
 'jacksau01',
 'jacksed01',
 'jasojo01',
 'jayjo02',
 'jepseke01',
 'johnsch05',
 'johnsmi04',
 'johnsst02',
 'joycema01',
 'kahnlto01',
 'karnsna01',
 'kawasmu01',
 'kazmisc01',
 'kellesh01',
 'kellyca01',
 'kenneia01',
 'kensilo01',
 'kimbrcr01',
 'kintzbr01',
 'kratzer01',
 'krolia01',
 'lackejo01',
 'lakeju01',
 'lamarry01',
 'lamboan01',
 'latosma01',
 'lawribr01',
 'leakemi01',
 'leonar01',
 'leonedo01',
 'linceti01',
 'lindad01',
 'lobstky01',
 'loewead01',
 'lohseky01',
 'loneyja01',
 'loughda01',
 'lowema01',
 'lowrije01',
 'madsory01',
 'mariomi01',
 'marteje01',
 'martico01',
 'martile01',
 'maybica01',
 'mazzavi01',
 'mcbrima02',
 'mcgeeja01',
 'mcgehca01',
 'mcgowdu01',
 'mckenmi01',
 'middlwi01',
 'mileywa01',
 'millebr02',
 'millesh01',
 'moralfr01',
 'morneju01',
 'morrilo01',
 'morsemi01',
 'mortoch02',
 'mossbr01',
 'motteja01',
 'moylape01',
 'murphda08',
 'murphjr01',
 'napolmi01',
 'nathajo01',
 'navada01',
 'navardi01',
 'nicasju01',
 'niesejo01',
 'nieuwki01',
 'noonani01',
 'norribu01',
 'norrida01',
 'nunovi01',
 'oberhbr01',
 'oflaher01',
 'ogandal01',
 'ogandne01',
 'ohlenro01',
 'olsonty01',
 'osullse01',
 'oteroda01',
 'pachejo01',
 'papeljo01',
 'paredji01',
 'parmech01',
 'parnebo01',
 'parrage01',
 'pattosp01',
 'pearcst01',
 'pelfrmi01',
 'penabr01',
 'penafr01',
 'pennicl01',
 'peraljo01',
 'perazjo01',
 'perezhe01',
 'perezol01',
 'petitgr01',
 'petityu01',
 'pireljo01',
 'pomerdr01',
 'preslal01',
 'priceda01',
 'quallch01',
 'raburry01',
 'ramiral03',
 'ramirjc01',
 'ramirjo02',
 'ramosce01',
 'reckean01',
 'reedad01',
 'reverbe01',
 'reyesjo01',
 'reyesjo03',
 'reynoma01',
 'reynoma02',
 'riverre01',
 'roachdo01',
 'roberda09',
 'robinsh01',
 'rodnefe01',
 'rodrifr03',
 'rogerja02',
 'rolliji01',
 'rondojo01',
 'rosalad01',
 'ruggiju01',
 'russeja02',
 'ryanbr01',
 'rzepcma01',
 'saltaja01',
 'samarje01',
 'sanchhe01',
 'sandsje01',
 'santado01',
 'sardilu01',
 'schaflo01',
 'schebsc01',
 'schugaj01',
 'scribev01',
 'scrugxa01',
 'segurje01',
 'simmoan01',
 'simonal01',
 'smithca02',
 'smolija01',
 'solando01',
 'soriajo01',
 'sotoge01',
 'spande01',
 'storedr01',
 'straida01',
 'stubbdr01',
 'surkaer01',
 'susacan01',
 'swarzan01',
 'tejadru01',
 'telisto01',
 'thomptr01',
 'thornma01',
 'torreca01',
 'torrero01',
 'trumbma01',
 'tulowtr01',
 'uptonju01',
 'uribeju01',
 'utleych01',
 'valdejo03',
 'valenda01',
 'velasvi01',
 'venabwi01',
 'vendipa01',
 'verrelo01',
 'villaca01',
 'villajo01',
 'vinceni01',
 'vogelry01',
 'wagnety01',
 'walkene01',
 'walteza01',
 'warread01',
 'webbry01',
 'weeksje01',
 'weeksri01',
 'whitlch01',
 'wielajo01',
 'wilheto01',
 'willije02',
 'wilsobo02',
 'wilsoju10',
 'woodal02',
 'worleva01',
 'yateski01',
 'youngch04',
 'younger03',
 'zimmejo02',
 'zobribe01']

In [132]:
trace = pd.concat([df_2016[df_2016["playerID"] == "beckhgo01"],
                   df_2015[df_2015["playerID"] == "beckhgo01"]])
trace

,playerID,yearID,teamID,lgID,AB,R,H,X2B,X3B,HR,RBI,SB,BB,SO,HBP,SH,SF
81,beckhgo01,2016,ATL,NL,240,25,52,16,1,5,30,1,26,50,4,0,3
89,beckhgo01,2015,CHA,AL,211,24,44,8,0,6,20,0,19,43,2,1,4

In [133]:
targetPlayer2016 = df_2016[df_2016["playerID"].isin(list)]
targetPlayer2015 = df_2015[df_2015["playerID"].isin(list)]
targetPlayer2016 = targetPlayer2016[targetPlayer2016["AB"]>400]
targetPlayer2015 = targetPlayer2015[targetPlayer2015["AB"]>400]

In [134]:
targetPlayer2016 = targetPlayer2016[targetPlayer2016["playerID"].isin(targetPlayer2015["playerID"])]

In [135]:
targetPlayer2016.reset_index(inplace=True, drop=True)
targetPlayer2016

,playerID,yearID,teamID,lgID,AB,R,H,X2B,X3B,HR,RBI,SB,BB,SO,HBP,SH,SF
0,cabreas01,2016,NYN,NL,521,65,146,30,1,23,62,5,38,103,7,0,2
1,castrst01,2016,NYA,AL,577,63,156,29,1,21,70,4,24,118,3,1,5
2,cespeyo01,2016,NYN,NL,479,72,134,25,1,31,86,3,51,108,7,0,6
3,desmoia01,2016,TEX,AL,625,107,178,29,3,22,86,21,44,160,5,0,3
4,escobyu01,2016,LAA,AL,517,68,157,28,1,5,39,0,40,67,3,3,4
5,frazito01,2016,CHA,AL,590,89,133,21,0,40,98,15,64,163,4,1,7
6,freesda01,2016,PIT,NL,437,63,118,23,0,13,55,0,45,142,10,0,0
7,heywaja01,2016,CHN,NL,530,61,122,27,1,7,49,11,54,93,5,1,2
8,inciaen01,2016,ATL,NL,522,85,152,24,7,3,29,16,45,68,4,5,2
9,lindad01,2016,SEA,AL,401,48,96,17,0,20,58,0,26,89,1,0,2
10,millebr02,2016,TBA,AL,548,73,133,29,6,30,81,6,47,149,3,0,3
11,murphda08,2016,WAS,NL,531,88,184,47,5,25,104,5,35,57,8,0,8
12,ramiral03,2016,SDN,NL,421,33,101,19,2,5,41,6,17,56,4,0,2
13,segurje01,2016,ARI,NL,637,102,203,41,7,20,64,33,39,101,12,4,2
14,simmoan01,2016,LAA,AL,448,48,126,22,2,4,44,10,28,38,2,1,4
15,uptonju01,2016,DET,AL,570,81,140,28,2,31,87,9,50,179,4,0,2
16,walkene01,2016,NYN,NL,412,57,116,9,1,23,55,3,42,84,1,0,3

In [136]:
targetPlayer2016["playerID"].unique().shape[0]
#17
target = targetPlayer2016["playerID"]

In [137]:
target_2015 = df_2015[df_2015["playerID"].isin(target)]
target_2015["ratio"] = target_2015["H"]/target_2015["AB"]
target_2015["sacrifice"] = target_2015["SH"] + target_2015["SF"]
target_2015.reset_index(inplace=True, drop=True)
target_2015

C:\Users\30133\AppData\Local\Temp/ipykernel_2252/1914160488.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_2015["ratio"] = target_2015["H"]/target_2015["AB"]
C:\Users\30133\AppData\Local\Temp/ipykernel_2252/1914160488.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_2015["sacrifice"] = target_2015["SH"] + target_2015["SF"]

,playerID,yearID,teamID,lgID,AB,R,H,X2B,X3B,HR,RBI,SB,BB,SO,HBP,SH,SF,ratio,sacrifice
0,cabreas01,2015,TBA,AL,505,66,134,28,5,15,58,6,36,107,3,1,6,0.265347,7
1,castrst01,2015,CHN,NL,547,52,145,23,2,11,69,5,21,91,5,1,4,0.265082,5
2,cespeyo01,2015,DET,AL,403,62,118,28,2,18,61,3,19,87,1,0,4,0.292804,4
3,desmoia01,2015,WAS,NL,583,69,136,27,2,19,62,13,45,187,3,6,4,0.233276,10
4,escobyu01,2015,WAS,NL,535,75,168,25,1,9,56,2,45,70,8,1,2,0.314019,3
5,frazito01,2015,CIN,NL,619,82,158,43,1,35,89,13,44,137,7,1,7,0.255250,8
6,freesda01,2015,LAA,AL,424,53,109,27,0,14,56,1,31,107,12,0,3,0.257075,3
7,heywaja01,2015,SLN,NL,547,79,160,33,4,13,60,23,56,90,2,0,3,0.292505,3
8,inciaen01,2015,ARI,NL,524,73,159,27,5,6,45,21,26,58,4,2,5,0.303435,7
9,lindad01,2015,MIL,NL,502,72,139,32,0,20,87,0,66,100,1,0,3,0.276892,3
10,millebr02,2015,SEA,AL,438,44,113,22,4,11,46,13,47,101,2,4,6,0.257991,10
11,murphda08,2015,NYN,NL,499,56,140,38,2,14,73,2,31,38,2,0,6,0.280561,6
12,ramiral03,2015,CHA,AL,583,54,145,33,0,10,62,17,31,68,1,1,6,0.248714,7
13,segurje01,2015,MIL,NL,560,57,144,16,5,6,50,25,13,93,6,3,2,0.257143,5
14,simmoan01,2015,ATL,NL,535,60,142,23,2,4,44,5,39,48,6,1,2,0.265421,3
15,uptonju01,2015,SDN,NL,542,85,136,26,3,26,81,19,68,159,4,0,5,0.250923,5
16,walkene01,2015,PIT,NL,543,69,146,32,3,16,71,4,44,110,8,0,8,0.268877,8

In [142]:
target_2016 = df_2016[df_2016["playerID"].isin(target)].reset_index(drop=True)
target_2016["change"] = target_2016["RBI"] / target_2015["RBI"]
target_2016

,playerID,yearID,teamID,lgID,AB,R,H,X2B,X3B,HR,RBI,SB,BB,SO,HBP,SH,SF,change
0,cabreas01,2016,NYN,NL,521,65,146,30,1,23,62,5,38,103,7,0,2,1.068966
1,castrst01,2016,NYA,AL,577,63,156,29,1,21,70,4,24,118,3,1,5,1.014493
2,cespeyo01,2016,NYN,NL,479,72,134,25,1,31,86,3,51,108,7,0,6,1.409836
3,desmoia01,2016,TEX,AL,625,107,178,29,3,22,86,21,44,160,5,0,3,1.387097
4,escobyu01,2016,LAA,AL,517,68,157,28,1,5,39,0,40,67,3,3,4,0.696429
5,frazito01,2016,CHA,AL,590,89,133,21,0,40,98,15,64,163,4,1,7,1.101124
6,freesda01,2016,PIT,NL,437,63,118,23,0,13,55,0,45,142,10,0,0,0.982143
7,heywaja01,2016,CHN,NL,530,61,122,27,1,7,49,11,54,93,5,1,2,0.816667
8,inciaen01,2016,ATL,NL,522,85,152,24,7,3,29,16,45,68,4,5,2,0.644444
9,lindad01,2016,SEA,AL,401,48,96,17,0,20,58,0,26,89,1,0,2,0.666667
10,millebr02,2016,TBA,AL,548,73,133,29,6,30,81,6,47,149,3,0,3,1.760870
11,murphda08,2016,WAS,NL,531,88,184,47,5,25,104,5,35,57,8,0,8,1.424658
12,ramiral03,2016,SDN,NL,421,33,101,19,2,5,41,6,17,56,4,0,2,0.661290
13,segurje01,2016,ARI,NL,637,102,203,41,7,20,64,33,39,101,12,4,2,1.280000
14,simmoan01,2016,LAA,AL,448,48,126,22,2,4,44,10,28,38,2,1,4,1.000000
15,uptonju01,2016,DET,AL,570,81,140,28,2,31,87,9,50,179,4,0,2,1.074074
16,walkene01,2016,NYN,NL,412,57,116,9,1,23,55,3,42,84,1,0,3,0.774648

In [143]:
from scipy.stats.stats import pearsonr

In [145]:
pearsonr(target_2015["ratio"], target_2016["change"])
pearsonr(target_2015["sacrifice"], target_2016["change"])
# -0.37 0.42

(0.42144559148854394, 0.0920174840036821)

In [168]:
topPlayer = df_baseball.groupby("playerID")["AB"].agg("sum").reset_index()
topPlayer = topPlayer[topPlayer["AB"]>=200]
sort_baseball = df_baseball.sort_values(by=["playerID", "yearID"])
playerA = sort_baseball[sort_baseball["yearID"]<=2013]
topPlayerA = topPlayer[topPlayer["playerID"].isin(playerA["playerID"])].reset_index(drop=True)
topPlayerB = topPlayer[~topPlayer["playerID"].isin(playerA["playerID"])].reset_index(drop=True)
resultA = df_baseball[df_baseball["playerID"].isin(topPlayerA["playerID"])].reset_index()
resultB = df_baseball[df_baseball["playerID"].isin(topPlayerB["playerID"])].reset_index()
resultA = resultA.groupby("playerID")["RBI"].agg("mean").reset_index()
resultB = resultB.groupby("playerID")["RBI"].agg("mean").reset_index()
resultB

      playerID         RBI
0    abreujo02  102.666667
1    adamecr01    6.666667
2    ahmedni01   19.333333
3    alcanar01   10.666667
4    altheaa01   14.666667
..         ...         ...
129  urshegi01   21.000000
130  vargake01   25.000000
131  vazquch01   16.000000
132  whitety01   28.000000
133  wolteto01   30.000000

[134 rows x 2 columns]

In [173]:
from scipy.stats import ttest_ind

SyntaxError: invalid syntax (Temp/ipykernel_2252/3164087433.py, line 1)

In [174]:
ttest_ind(resultA["RBI"],resultB["RBI"], equal_var=False)

Ttest_indResult(statistic=0.980275803955563, pvalue=0.3280539023063467)

In [175]:
0.328

0.328

In [205]:
targetPlayer = df_baseball[(df_baseball["yearID"]>=2011) & (df_baseball["yearID"]<=2016)]
targetPlayer = targetPlayer.groupby("playerID")["teamID"].unique().reset_index()
list = []
for i in range(targetPlayer.shape[0]):
    if targetPlayer["teamID"][i].shape[0] > 1:
        list.append(targetPlayer["playerID"][i])
        
list[0]

'aardsda01'

In [220]:
targetData = df_baseball[(df_baseball["yearID"]>=2011) & (df_baseball["yearID"]<=2016)]
targetData = targetData[targetData["playerID"].isin(list)]
targetData = targetData[["playerID", "teamID"]].drop_duplicates()
pivotTab = targetData.pivot_table(index="playerID",
                            columns=["teamID"],
                           aggfunc="size",
                            fill_value=0
                           )
pivotTab

teamID,ARI,ATL,BAL,BOS,CHA,CHN,CIN,CLE,COL,DET,...,PHI,PIT,SDN,SEA,SFN,SLN,TBA,TEX,TOR,WAS
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abadfe01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
abreubo01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abreuto01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
accarje01,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zambrca01,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zieglbr01,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zimmejo02,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
zitoba01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
zobribe01,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [223]:
from mlxtend.frequent_patterns import apriori, association_rules

In [224]:
result = apriori(pivotTab,min_support=0.0015, use_colnames=True)

In [225]:
analysisResult = association_rules(result,metric="confidence",
                 min_threshold=0.5)
analysisResult

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(FLO),(MIA),0.029463,0.091854,0.021664,0.735294,8.004994,0.018957,3.430772
1,"(ATL, SLN)",(ARI),0.003466,0.089255,0.001733,0.500000,5.601942,0.001424,1.821490
2,"(SLN, ARI)",(ATL),0.001733,0.095321,0.001733,1.000000,10.490909,0.001568,inf
3,"(NYN, ARI)",(OAK),0.003466,0.095321,0.001733,0.500000,5.245455,0.001403,1.809359
4,"(ATL, TEX)",(BOS),0.003466,0.089255,0.002600,0.750000,8.402913,0.002290,3.642981
...,...,...,...,...,...,...,...,...,...
60,"(OAK, WAS)",(MIN),0.005199,0.069324,0.002600,0.500000,7.212500,0.002239,1.861352
61,"(WAS, MIN)",(OAK),0.005199,0.095321,0.002600,0.500000,5.245455,0.002104,1.809359
62,"(OAK, NYA)",(NYN),0.005199,0.077990,0.002600,0.500000,6.411111,0.002194,1.844021
63,"(OAK, SEA)",(SDN),0.003466,0.103986,0.001733,0.500000,4.808333,0.001373,1.792028
64,"(SFN, PHI)",(WAS),0.003466,0.066724,0.001733,0.500000,7.493506,0.001502,1.866551

In [226]:
# 65 개

In [234]:
targetData = df_baseball[(df_baseball["AB"]>=400)&(df_baseball["yearID"]>=2014)]
targetData["ratio"] = targetData["H"]/targetData["AB"]
targetData["rank"] = targetData["ratio"].rank(method="min")

C:\Users\30133\AppData\Local\Temp/ipykernel_2252/4107653141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targetData["ratio"] = targetData["H"]/targetData["AB"]
C:\Users\30133\AppData\Local\Temp/ipykernel_2252/4107653141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targetData["rank"] = targetData["ratio"].rank(method="min")

,playerID,yearID,teamID,lgID,AB,R,H,X2B,X3B,HR,RBI,SB,BB,SO,HBP,SH,SF,ratio,rank
3885,abreujo02,2014,CHA,AL,556,80,176,35,2,36,107,3,51,131,11,0,4,0.316547,491.0
3889,ackledu01,2014,SEA,AL,502,64,123,27,4,14,65,8,32,90,3,3,2,0.245020,98.0
3893,adamsma01,2014,SLN,NL,527,55,152,34,5,15,68,3,26,114,3,0,7,0.288425,399.0
3909,altuvjo01,2014,HOU,AL,660,85,225,47,3,7,59,56,36,53,5,1,5,0.340909,509.0
3915,amarial01,2014,SDN,NL,423,39,101,13,2,5,40,12,29,69,1,8,5,0.238771,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7856,werthja01,2016,WAS,NL,525,84,128,28,0,21,69,5,71,139,4,0,6,0.243810,89.0
7861,wietema01,2016,BAL,AL,423,48,103,17,1,17,66,1,32,85,5,1,3,0.243499,86.0
7889,yelicch01,2016,MIA,NL,578,78,172,38,3,21,98,9,72,138,4,0,5,0.297578,437.0
7900,zimmery01,2016,WAS,NL,427,60,93,18,1,15,46,4,29,104,5,0,6,0.217799,14.0
7901,zobribe01,2016,CHN,NL,523,94,142,31,3,18,76,6,96,82,4,4,4,0.271511,272.0

In [240]:
targetData = targetData.reset_index(drop=True)
list = []
for i in range(targetData.shape[0]):
    if targetData["rank"][i] <= 30.0 :
        list.append("Y")
    else :
        list.append("N")
list[0]

'N'

In [246]:
targetData["target"]= list
targetData["intend"] = targetData["HBP"] + targetData["BB"]
targetData["X1B"] = targetData["H"] - targetData["X2B"] -targetData["X3B"] - targetData["HR"]
targetData["long"] = targetData["X1B"] + targetData["X2B"] * 2 + targetData["X3B"] * 3 + targetData["HR"] * 4
targetData["long"] = targetData["long"] / targetData["AB"]

Empty DataFrame
Columns: [playerID, yearID, teamID, lgID, AB, R, H, X2B, X3B, HR, RBI, SB, BB, SO, HBP, SH, SF, ratio, rank, target, intend, X1B, long]
Index: []

[0 rows x 23 columns]

In [248]:
import statsmodels.api as sm

In [250]:
targetData["current"] = targetData["target"] 
targetData

,playerID,yearID,teamID,lgID,AB,R,H,X2B,X3B,HR,...,HBP,SH,SF,ratio,rank,target,intend,X1B,long,current
0,abreujo02,2014,CHA,AL,556,80,176,35,2,36,...,11,0,4,0.316547,491.0,N,62,103,0.580935,N
1,ackledu01,2014,SEA,AL,502,64,123,27,4,14,...,3,3,2,0.245020,98.0,N,35,78,0.398406,N
2,adamsma01,2014,SLN,NL,527,55,152,34,5,15,...,3,0,7,0.288425,399.0,N,29,98,0.457306,N
3,altuvjo01,2014,HOU,AL,660,85,225,47,3,7,...,5,1,5,0.340909,509.0,N,41,168,0.453030,N
4,amarial01,2014,SDN,NL,423,39,101,13,2,5,...,1,8,5,0.238771,60.0,N,30,81,0.314421,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,werthja01,2016,WAS,NL,525,84,128,28,0,21,...,4,0,6,0.243810,89.0,N,75,79,0.417143,N
507,wietema01,2016,BAL,AL,423,48,103,17,1,17,...,5,1,3,0.243499,86.0,N,37,68,0.408983,N
508,yelicch01,2016,MIA,NL,578,78,172,38,3,21,...,4,0,5,0.297578,437.0,N,76,110,0.482699,N
509,zimmery01,2016,WAS,NL,427,60,93,18,1,15,...,5,0,6,0.217799,14.0,Y,34,59,0.370023,Y
510,zobribe01,2016,CHN,NL,523,94,142,31,3,18,...,4,4,4,0.271511,272.0,N,100,90,0.445507,N